<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.SMRConnectionString" connectionString="Data Source=server.abs.ge,1443;Initial Catalog=SMR;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>