@font-face {
    font-family: 'nino';
    
    src: url('../fonts/bpg_nino_mtavruli_bold.eot');
    src: url('../fonts/bpg_nino_mtavruli_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_nino_mtavruli_bold.woff') format('woff'),
         url('../fonts/bpg_nino_mtavruli_bold.ttf') format('truetype'),
         url('../fonts/bpg_nino_mtavruli_bold.svg#bpg_nino_mtavrulibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rioni';
    src: url('../fonts/bpg_rioni_arial.eot');
    src: url('../fonts/bpg_rioni_arial.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_rioni_arial.woff') format('woff'), 
         url('../fonts/bpg_rioni_arial.ttf') format('truetype'), 
         url('../fonts/bpg_rioni_arial.svg#bpg_nino_mtavrulibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
font-family: 'calibri';
	src: url('../fonts/calibri.ttf'); /* IE9+ */
}