html, body, form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html > body .wrap {
    height: auto;
    min-height: 100%;
}

body {
    background: url('/Content/images/bg1.jpg');
}

* {
    font-family: 'Smr', Arial;
}

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

.wrap {
    background: #fff;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1321px;
    margin: 0 auto;
}
.hidden {
    display:none;
}

#header.row {
    background: #dde9ef;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bottom-border {
    border-bottom: 1px solid #CCC;
    display: block;
    font-family:"SMR MT", Arial;
}

.mainGradient {
    background: #009dd2;
    background: -moz-linear-gradient(left, #009dd2 0%, #104396 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009dd2), color-stop(100%,#104396));
    background: -webkit-linear-gradient(left, #009dd2 0%,#104396 100%);
    background: -o-linear-gradient(left, #009dd2 0%,#104396 100%);
    background: -ms-linear-gradient(left, #009dd2 0%,#104396 100%);
    background: linear-gradient(to right, #009dd2 0%,#104396 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009dd2', endColorstr='#104396',GradientType=1 );
    margin-top: 0px;
}

#nav.row {
    height: 75px;
    line-height: 72px;
    position: relative;
}

    #nav.row .language {
        position: absolute;
        top: 0;
        right: 5px;
    }

        #nav.row .language a {
            float: right;
            font-size: 10px;
            color: #337ab7;
            background: #fff;
            line-height: 15px;
            padding: 2px 3px 0 3px;
            margin-right: 5px;
            opacity:0.7;
        }

            #nav.row .language a:hover {
                background:#337ab7;
                color:#fff;
            }

.logo {
    width: 450px;
}

    .logo > span > b {
        font-family: 'Smr MT', Arial;
        color: #fff;
        font-weight: normal;
        line-height: 18px;
        float: left;
        font-size: 13px;
    }

    .logo > span {
        float: left;
    }

        .logo > span:nth-child(1n) {
            width: 130px;
            text-align: center;
        }

        .logo > span:nth-child(2n) {
            width: calc(100% - 130px);
            margin-top: 13px;
        }

footer .row.ft-nav {
    text-align: center;
}

    footer .row.ft-nav ul {
        padding: 0;
        display: inline-block;
        list-style: none;
        margin: 0;
    }

footer ul > li {
    float: left;
    text-align: center;
    margin: 0 25px;
}

    footer ul > li > a {
        color: #fff;
        font-family: 'Smr MT', Arial;
        line-height: 46px;
        float: left;
    }

        footer ul > li > a:hover {
            color: #ccc;
            text-decoration: none;
        }

footer .ft-cp span {
    float: left;
    font-size: 13px;
    font-size: 9px;
    color: #fff;
}

footer .ft-cp > div {
    height: 44px;
}

.footerCP > b {
    font-weight: normal;
}


.navbar {
    margin-top: 18px;
    margin-bottom: auto;
}


.jssorb05 {
    position: absolute;
}

    .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
        position: absolute;
        width: 16px;
        height: 16px;
        background: url(/Content/images/slide/b21.png) no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb05 div {
        background-position: -7px -7px;
    }

        .jssorb05 div:hover, .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

    .jssorb05 .av {
        background-position: -67px -7px;
    }

    .jssorb05 .dn, .jssorb05 .dn:hover {
        background-position: -97px -7px;
    }

.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(/Content/images/slide/a11.png) no-repeat;
    overflow: hidden;
}

.jssora11l {
    background-position: -11px -41px;
}

.jssora11r {
    background-position: -71px -41px;
}

.jssora11l:hover {
    background-position: -131px -41px;
}

.jssora11r:hover {
    background-position: -191px -41px;
}

.jssora11l.jssora11ldn {
    background-position: -251px -41px;
}

.jssora11r.jssora11rdn {
    background-position: -311px -41px;
}


.Newsfeed {
    text-align: right;
}

    .Newsfeed > h3 {
        font-family: 'Smr MT', Arial;
        font-size: 16px;
        color: #1f4d89;
    }

    .Newsfeed > span {
        color: #999;
        font-weight: bold;
        font-size: 12px;
    }

    .Newsfeed > p {
        line-height: 25px;
        color: #999;
    }

.phCalendar {
    padding: 10px 5px;
}

.manuCon {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 34px;
}

    .manuCon > ul {
        list-style: none;
        padding: 0;
    }


        .manuCon > ul > li {
            line-height: 21px;
        }

            .manuCon > ul > li > a {
                font-family: 'Smr MT', Arial;
                display: block;
                padding: 10px 15px 4px 15px;
                background-color: #E2EAED;
                width: 260px;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 3px;
            }


    .manuCon ul > li > a:hover {
        color: #fff;
        text-decoration: none;
        background: #5bc0de;
    }

.submanu {
    position: absolute;
    background: #fff;
    z-index: 100;
    top: 57px;
    left: 10px;
}

    .submanu > a {
        font-family: 'Smr MT', Arial;
        display: block;
        line-height: 35px;
        border-bottom: 1px solid #eee;
        padding: 6px 15px 2px 15px;
        width: 260px;
    }

        .submanu > a:hover {
            color: #fff;
            text-decoration: none;
            background: #337ab7;
        }

#content {
    width: calc(100% - 280px);
}

.main {
    margin-left: 25px;
    padding-bottom: 30px;
}

    .main .row > h3 {
        margin: 10px 0;
        font-family: 'Smr MT', Arial;
        font-size: 18px;
        font-weight: normal;
        display: block;
        border-bottom: 1px solid #999;
    }

.item {
    margin-left: 15px;
    min-height: 110px;
    display: block;
}

    .item > .title {
        font-size: 14px;
        margin: 13px 0px 2px 0px;
    }

        .item > .title > a {
            color: #999;
            font-family: 'Smr MT', Arial;
        }


    .item a:hover {
        text-decoration: none;
        color: #104396;
    }

    .item .new-content > a > span {
        font-size: 12px;
        color: #999;
    }

    .item .new-content > .itemImg {
        width: 125px;
        height: 85px;
        overflow: hidden;
        display: inline-block;
    }

    .item .new-content > .itemText {
        width: calc(100% - 140px);
        margin-left: 10px;
        height: 85px;
        overflow: hidden;
        display: inline-block;
    }

        .item .new-content > .itemText > p {
            color: #000;
            font-size: 13px;
            text-align: justify;
        }

    .item > .line {
        border-bottom: 1px solid #999;
        width: 100%;
        float: left;
        clear: both;
        margin-top: 5px;
    }

.internalContent {
    margin-top: 10px;
    text-align: justify;
}

    .internalContent > .mainImg {
        float: left;
        margin-right: 10px;
    }

    .internalContent > h2 {
        font-size: 18px;
        color: #1f4d89;
        font-family: 'Smr MT', Arial;
    }

    .internalContent > span {
        font-size: 12px;
        color: #999;
        line-height: 1px;
    }

    .internalContent > p {
        font-size: 14px;
        color: #999;
        text-align: justify;
    }

.navbar-nav {
    height: 57px;
}


    .navbar-nav li {
        position: relative;
    }
    .navbar-nav li a {
        text-transform: uppercase;
    }
label.chckbox {
    font-family: 'Smr MT', Arial;
    font-size: 14px;
}

.ui-datepicker * {
    font-family: 'Smr MT', Arial;
}
.files .item{
    margin-top:10px;
}
.files .item >a{
    display:block;
    line-height:21px;
    font-family:'Smr MT', Arial;
    background:#337ab7;
    padding:10px 10px 5px 10px;
    border-radius:3px;
    color:#fff;
}
.files .item > a:hover {
    background:#2e6da4;
}
.files .item>.file{
    padding:10px;
    background:#f0f0f0;

}


.notifgroup .form-group > label {
    font-family:'Smr MT', Arial;
    text-transform:uppercase;
}













