html, body, form {
    width:100%;
    height:100%;
    margin:0;
	padding:0;
}
html > body .wrap {
 height: auto;
 min-height: 100%;
}

* {
     font-family: "Myriad Pro", rioni;
}
.wrap {
    position:relative;
    height:100%;
    padding-bottom:100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
 }

.right {
    float:right;
}

.left {
    float:left;
}
.mainGradient{
    background: #009dd2;
    background: -moz-linear-gradient(left,  #009dd2 0%, #104396 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009dd2), color-stop(100%,#104396));
    background: -webkit-linear-gradient(left,  #009dd2 0%,#104396 100%);
    background: -o-linear-gradient(left,  #009dd2 0%,#104396 100%);
    background: -ms-linear-gradient(left,  #009dd2 0%,#104396 100%);
    background: linear-gradient(to right,  #009dd2 0%,#104396 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009dd2', endColorstr='#104396',GradientType=1 );
    margin-top:0px;
}
#nav.row{
    height: 75px;
    line-height: 72px;
}
.logo{
    width:450px;
}
.logo > span > b{
    font-family:"nino";
    color:#fff;
    font-weight: normal;
    line-height:18px;
    float:left;
    font-size:13px;
}
.logo > span{
    float:left;
}
.logo > span:nth-child(1n) {
    width: 130px;
}
.logo > span:nth-child(2n) {
    width: calc(100% - 130px);
    margin-top:13px;
}

footer .row.ft-nav {
    text-align:center;
}

footer .row.ft-nav ul {
   padding:0;
   display:inline-block;
   list-style:none;
   margin:0;
}

footer ul > li {
    float:left;
    text-align:center;
    margin:0 25px;
}

footer ul > li > a {
    color:#fff;
    font-family: "nino";
    line-height: 46px;
    float:left;
}

footer ul > li > a:hover {
    color:#ccc;
    text-decoration:none;
}

footer .ft-cp span  {
    float:left;
    font-size:13px;
    font-size: 9px;
    color: #fff;
}

footer .ft-cp > div {
    height:44px;
}

.footerCP > b {
    font-weight: normal;
}

.manuCon > ul{
    list-style: none;
}
.manuCon{
    float:left;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 34px;
}
.manuCon ul > li > a:hover {
    color:#ccc;
    text-decoration:none;
}
.navbar{
    margin-top:18px;
    margin-bottom:auto;
}

.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/Content/images/slide/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(/Content/images/slide/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }


.Newsfeed {
    text-align:right;
}

.Newsfeed > h3 {
        font-family: "nino";
        font-size:16px;
        color: #1f4d89;
}

.Newsfeed > span {
    color:#999;
    font-weight:bold;
    font-size:12px;
}

.Newsfeed > p {
    line-height:25px;
}